body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: black;
    color: #0ff;
    text-align: center;
}

#home-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('assets/images/tileset1.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    margin: 0 auto;
    background: #111;
    border: 2px solid #0ff;
}
